.header{
  background-color: #10454F;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 75% 10%;
}

.header-logo{
  margin-left: 32px;
}

.header-icons{
  padding-top: 12px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.header-icons div img{
  cursor: pointer;
}
