<div class="general">
  <div class="title">
    <h2><span><img src="../../assets/icons/camera-movie.png"></span> Personajes</h2>
  </div>
  <div class="data">
    <div class="totalChar">
      <span>Total de personajes: <b>{{ totalChars }}</b></span>
    </div>
    <div class="charStatus">
      <div class="aliveChar">
        <span><img src="../../assets/icons/Icono de vivo.png"> Personajes vivos <b>{{ aliveChars }}</b></span>
      </div>
      <div class="verticalLine"></div>
      <div class="deadChar">
        <span><img src="../../assets/icons/Icono de muerto.png"> Personajes muertos <b>{{ deadChars }}</b></span>
      </div>
    </div>
    <div class="search">
      <div></div>
      <img src="../../assets/icons/Icono de busqueda.png" alt="Busqueda">
      <input type="text" name="buscar" id="buscar" placeholder="Buscar" [(ngModel)]="searchField"/>
    </div>
    <div></div>
  </div>
  <div class="table">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Vivo</th>
          <th>Especie</th>
          <th>Genero</th>
          <th>Origen</th>
          <th>Locación</th>
          <th>Capitulos</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr *ngFor="let item of characters | search:searchField">
          <td>{{ item.name }}</td>
          <td>
            <span *ngIf="item.status == 'Alive'">
              <img src="../../assets/icons/Icono de vivo.png" />
            </span>
            <span *ngIf="item.status == 'Dead'">
              <img src="../../assets/icons/Icono de muerto.png" />
            </span>
            <span *ngIf="item.status =='unknown'">
              {{ item.status }}
            </span>
          </td>
          <td>{{ item.species }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.origin.name }}</td>
          <td>{{ item.location.name }}</td>
          <td>{{ item.episode.length }}</td>
          <td>{{ item.created | date: "dd-MM-yyyy" }}</td>
          <td>
            <button (click)="modalImage(item.image,item.name)">
              <span><img src="../../assets/icons/Icono imagen.png">Acciones</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
