.general{
  font-family: 'Roboto', sans-serif;
  margin-left: 32px;
  margin-right: 32px;
}

.title{
  font-weight: bold;
}

.data{
  display: grid;
  grid-template-columns: 15% 30% 20% auto;
  gap: 16px;
  font-weight: 500;
}

.totalChar{
  border: 1px solid #819397;
  border-radius: 5px;
}

.charStatus{
  display: grid;
  grid-template-columns: auto 0.5% auto;
  border: 1px solid #819397;
  border-radius: 5px;
}

.verticalLine{
  border-left: 1px solid #819397;
  padding-top: 5%;
  height: 90%;
}

.search{
  display: grid;
  grid-template-columns: 5% 10% 85%;
  border: 1px solid #819397;
  border-radius: 10px;
}

.search input{
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.table{
  margin-top: 24px;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
}

.table table{
  padding: 24px;
  width: 100%;
  border: none;
}

.table table thead{
  background-color: #506266;
  color: #fff;
  height: 50px;
  border-radius: 5px;
  border: none;
}

.table table thead tr th:first-child{
  border-radius: 10px 0px 0px 0px;
}

.table table thead tr th:last-child{
  border-radius: 0px 10px 0px 0px;
}